body {
  font-size: 18px;
  font-family: 'Kalam', sans-serif;
}

th, td {
  width: 30%;
}

thead {
  background-color: #FFAA4A;
}

.itemSub {
  width: 10%;
}

input {
  margin-left: 5px;
  margin-right: 5px;
}

.itemInput, .priceInput {
  margin-left: 0;
}

form {
  margin-top: -15px;
}

#newItem, #newItemPrice {
  width: 25%;
  margin-right: 4%;
}

#addItemBtn {
  width: 15%;
  margin-left: 1%;
}